$primaryColor: #6D737F;
$secondaryColor: #F0FFF2;

.header-container{
    background-color: $primaryColor;
    display: flex;
    justify-content: space-between;
    
}
.header-container img {
    max-height: '160px';
    &:hover{
      cursor: pointer;  
    }
}
.header-p-container{
    display: flex;
    align-items: center;
}
.header-p-container p{
    color: $secondaryColor;
    font-size: 24px;
    padding-right: 28px;
    margin: 0;
    font-weight: 900;
}
.header-strap{
    height: 50px;
    background-color: $secondaryColor;
    color: $primaryColor;
    font-weight: 900;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header-strap p{
    padding-right: 24px;
    margin: 0;
}
.homepage-greeting-container{
    padding-top: 30px;
    text-align: center;
}
.homepage-greeting-container h3{
    color: $secondaryColor;
    font-size: 18;
}
.game-category-container{
    display: flex;
    overflow: scroll;
}
.game-category-container img{
    width: 250px;
}
.game-category-container h4{
    padding-bottom: 20px;
    border: none;
    color: $secondaryColor;
}
.single-game-container{
    padding: 20px;
}
.single-game-container img{
    border: transparent 5px solid;
    &:hover{
        border: white 5px solid;
        cursor: pointer;
    }
}
.single-avatar-container {
    max-height: '100px';
    overflow-y: scroll;
}
.single-avatar-container img{
    border: transparent 5px solid;
    &:hover{
        border: white 5px solid;
        cursor: pointer;
    }
    &:focus{
        border: red 5px solid;
    }
    max-height: '100px';
}
.select-avatar-container {
    max-height: 450px;
    max-width: 50%;
    overflow-y: scroll;
    margin: auto;
}
.select-avatar-container img{
    border: transparent 5px solid;
    &:hover{
        border: white 5px solid;
        cursor: pointer;
    }
    &:focus{
        border: red 5px solid;
    }
    max-height: '100px';
}
.homepage-main-container h2{
    padding-left: 20px;
    text-decoration: underline;
}
.single-game-page-container {
    display: flex;
    flex-direction: column;
    padding-bottom: 50px;
}
.single-game-page-container h1 {
    text-align: center;
    padding-top: 50px;
}
.create-lobby-button {
    align-self: center;
    margin-bottom: 20px;
}
.single-game-page-image {
    width: 20%;
    align-self: center
}
.single-game-page-table-container{
    border: 1px solid black;
    align-self: center;
    border-radius: 0.35rem;
}
.single-game-page-table-container table, th, td {
    padding: 10px;
}
.page-container {
    background-color: $primaryColor;
    height: 100%;
}
.full-page-container {
    background-color: $primaryColor;
    height: 100vh;
}
.full-page-container-signup {
    background-color: $primaryColor;
}
.loading-container {
    width: 100%;
    display: flex;
    justify-content: center;
}
.loading-container-account {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 100px;
}
.loading-container h3 {
    text-align: center;
    margin-top: 100px;
    margin-left: 2%;
}
.footer-container {
    background-color: $primaryColor;
    display: flex;
    min-height: 182px;
    border: 2px #333333 solid;
    padding: 5px;
}
.footer-container a {
    cursor: pointer;
    color: black;
    &:hover {
        color: $secondaryColor;
    }
}
.lobby-container {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    padding-top: 50px;
    background-color: $primaryColor;
    height: 100vh
}
.lobby-content-box{
    border: 1px solid black;
    padding: 2%;
    min-height: 300px;
    max-height: 300px;
    overflow-y: scroll;
    background-color: white;
}
.lobby-content-box-right{
    border: 1px solid black;
    padding: 2%;
    min-height: 300px;
    max-height: 300px;
    overflow-y: scroll;
    background-color: white;
    text-align: center;
}
.lobby-table-container {
    display: flex;
    flex-direction: column;
}
.lobby-table-container h3 {
    text-align: center;
}
.account-header{
    font-size: 24px;
    font-weight: 900;
}
.account-details{
    font-size: 24px;
    font-weight: 100;
    margin-left: 5px;
}
.account-details-container{
    border: 5px solid black;
    border-radius: 1rem;
    width: 40%;
    margin: auto;
    padding: 8px;
}
.error-text {
    color: red;
}
